<!DOCTYPE html>
<html lang="en">
<head>
<title>Cognative Company</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Cognative Company</h1>
<h3>Source Text: <%= data.sourceText %></h3>
<h3>Text Translated into <%= data.destinationlanguage %>: <%= data.translatedText %></h3>
<table>
  <thead>
    <tr>
      <td>Social Tone</td>
      <td>Value for Source</td>
      <td>Value for Translation</td>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<data.sourceTextTone.length; i++) {%><tr>
      <td><%= data.sourceTextTone[i].tone_name %></td>
      <td><%= data.sourceTextTone[i].score %></td>
      <td><%= data.translatedTextTone[i].score %></td>
    </tr><% } %>
  </tbody>
</table>
<a href="/api/v1/history/"><button>Return</button></a>

</table>
</body>
</html>